body {
    margin: 0;
    padding: 0;
    background: url(../Images/fondo2.jpg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
    
       
}


.login_box {
    width: 30%;
    height: 80%;
    background: #0A336D;
    color: lightcoral;
    top: 55%;
    left: 50%;
    position: absolute;
    
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.login_box .avatar{
width: 60%;
height: 30%;
border-radius: 50%;
position: absolute;

top: -90px;
left: 20%;
}

.login_box h1 {
margin: 0;
padding: 0 0 20px;
text-align: center;
font-size: 36pt;
color: #429AB1;
}

.login_box label{
    color: #39ACF9;
    text-align: center;
    font-size: 16pt;
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

.login_box input {
    text-align: center;
    font-size: 16pt;
    font: bold;
    width: 100%;
    margin-bottom: 20px;
}

input:hover{
   border: 1px solid #39ACF9; 
}
